/* Modal classes */

// iOS force an extra div element with the classes below next to the ion-backdrop component, so we hide this div to enable the click on the backdrop
.modal-shadow.sc-ion-modal-ios {
  display: none;
}

// Ionic only add the backdrop-opacity property to the first backdrop present in the whole DOM, we force it to add the opacity in every single ion-backdrop component
ion-backdrop {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

/* The following classes represent "standart" sizes for mobile and tablet devices.
* 
* NOTE: By default we set the modal max-height and max-width to be the full size 
* of the screen. So if we don't add any size-class to the modal it will has the
* default behavior of a modal for devices which is being full-screen.
*
*/

// Extra small size

// Small size
.modal-sm {
  .modal-wrapper {
    max-height: 60%;
    max-width: 80%;
  }
}

// Medium size
.modal-xs {
  .modal-wrapper {
    max-height: 40%;
    max-width: 60%;
  }
}

// Large size
.modal-bg-primary {
  .modal-wrapper {
    .ion-page {
      background-color: var(--ion-color-primary);
    }
  }
}
