<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Main page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-text color="primary">
    <h3>
      Ionic Modal Backdrop Dismiss
    </h3>
  </ion-text>
  <h5>Default modal</h5>
  <ion-button (click)="openDefaultModal()">Open default modal</ion-button>
  <h5>Pop-up modal</h5>
  <ion-button (click)="openPopUpModal()">Open pop-up modal</ion-button>
  <h5>Bottom drawer modal</h5>
  <ion-button (click)="openBottomDrawerModal()">Open bottom drawer modal</ion-button>
</ion-content>