<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Main page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <h3>
    <ion-text>Ionic Modal Backdrop Dismiss</ion-text>
  </h3>
  <h5>Default modal</h5>
  <ion-button (click)="openDefaultModal()">Open default modal</ion-button>
  <h5>Pop-up modal</h5>
  <ion-button (click)="openDefaultModal()">Open pop-up modal</ion-button>
  <h5>Bottom drawer modal</h5>
  <ion-button (click)="openDefaultModal()">Open bottom drawer modal</ion-button>
</ion-content>